// Some usefull SCSS Functions




/* ********** CONVERT Pixels TO REM ***********  */
@function remSize($size) {
    $baseSize: 16px;
    $remSize: $size / $baseSize;
    @return #{$remSize}rem;
  }
  
  @mixin toRem($size) {
    font-size: remSize($size);
  }
  // How to use
  p {
    @include toRem(32px);
  }
// Output
p {
    font-size: 2rem;
}

/*************************************/
$html-font-size: 16px;
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

// How to use
.component {
    font-size: rem(14px); // or rem(14)
}