

// USEFULL SCSS @MIXINS



/*
Content list:

- Media Queries.
- Rem to px.
- Fonts.
- Font-face.
- Transitions
- Links Status

*/



/* ********* MEDIA QUERIES *********** */

@mixin phone-only {
  @media (max-width: 576px) { @content; }
}

@mixin phone-up {
  @media (min-width: 577px) { @content; }
}

@mixin tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}

@mixin tablet-landscape-up {
  @media (min-width: 992px) { @content; }
}

@mixin desktop-up {
  @media (min-width: 1200px) { @content; }
}


//Example of use:
@include tablet-portrait-up {
    font-size:8rem;
}







/* ********* MEDIA QUERIES *************  */

@mixin screen($size) {
    $desktop: "(min-width: 1024px)";
    $tablet: "(min-width: 768px) and (max-width: 1023px)";
    $mobile: "(max-width: 767px)";
    @if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    }
    @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    }
    @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    }
}

//Example of use:
.wrapper {
    margin: 0 auto;
    width: 100%;
    @include screen('tablet') {
      width: 90%;
    }
  
    @include screen('desktop') {
      width: 85%;
    }
  }

  // OUTPUT 
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
      width: 90%;
    }
  }
  @media only screen and (min-width: 1024px) {
    .wrapper {
      width: 85%;
    }
  }





/* ********* REM UNITS ********* */

@mixin font-size($size, $base: 16) {
    //font-size: $size * 1px; // fallback for old browsers
    font-size: ($size / $base) * 1rem;
  }

//Example of use:
body {
    @include font-size(16);
  }

p {
    @include font-size(12, 10);
    }

// Output 
body {
    //font-size: 16px;
    font-size: 1rem;
  }

p {
    font-size: 12px;
    font-size: 1.2rem;
    }







/* ********* FONTS ********* */

@mixin fonts($fsize: false, $fcolor: false, $fweight: false,  $flheight: false, $base: 16) {
    @if $fsize { font-size: ($fsize / $base) * 1rem; }
    @if $fcolor { color: $fcolor; }
    @if $fweight { font-weight: $fweight; }
    @if $flheight { line-height: $flheight; }
}
// use:
.class-name{
    @include fonts(16, #c1c1c1, normal);
}
// Output
.class-name {
    font-size: 1rem;
    color: #c1c1c1;
    font-weight: normal;
}




/* ********* FONT-FACE ********* */

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url($file-name + '.eot');
      src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
      url($file-name + '.woff') format('woff'),
      url($file-name + '.ttf')  format('truetype'),
      url($file-name + '.svg##{$font-name}')  format('svg');
      font-weight: $weight;
      font-style: $style;
    }
  }

// Use
@include font-face("MyFont", "path/to/MyFont", $style: normal, $weight: normal);

// Output
@font-face {
  font-family: "MyFont";
  src: url("path/to/MyFont.eot");
  src: url("path/to/MyFont.eot?#iefix") format("embedded-opentype"), url("path/to/MyFont.woff") format("woff"), url("path/to/MyFont.ttf") format("truetype"), url("path/to/MyFont.svg#MyFont") format("svg");
  font-weight: normal;
  font-style: normal;
}






/* ******** TRANSITIONS ********** */

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

a.button {
    /* button styles */
    @include transition (all, 0.5s, ease);
    &:hover {
        // buton hover styles
    }
    
}






/* ********* LINKS STATUS ************* */

@mixin linx ($link, $visit, $hover, $active) {
    a {
      color: $link;
      &:visited {
        color: $visit;
      }
      &:hover {
        color: $hover;   
      }
      &:active {
        color: $active;
      }
    }
  }

// Use:
.class{
        @include linx(#c1c1c1, #fa3d3d, #1414eb, #d1d11f);
    }

// Output
.class a {
    color: #c1c1c1;
}
.class a:visited {
    color: #fa3d3d;
}
.class a:hover {
    color: #1414eb;
}
.class a:active {
    color: #d1d11f;
}